<%= form_for(@message, html: {class: "form-horizontal"}) do |f| %>

  <% if @message.errors.present? %>
    <div class="alert alert-danger">
      <%= alert %>
      <ul>
        <% @message.errors.full_messages.each do |full_message| %>
          <li>
            <%= full_message %>
          </li>
        <% end %> 
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <label class="col-sm-1 control-label">名前:</label>
    <div class="col-sm-3">
      <%= f.text_field :name, class: "form-control" %>
    </div>
    <label class="col-sm-1 control-label">年齢:</label>
    <div class="col-sm-1">
      <%= f.text_field :age, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-1 control-label">内容:</label>
    <div class="col-sm-5">
      <%= f.text_area :body, size: "40x1", class: "form-control" %>
    </div>
  </div>
    
  <div class="form-group">
    <div class="col-sm-offset-5 col-sm-7 form-actions">  
      <%= f.submit class: "btn btn-sm btn-success" %>
    </div>
  </div>
  
<% end %>