<div class="panel panel-success">
  
  <div class="panel-heading">
    メッセージ一覧
  </div>
    
  <div class="panel-body" style="overflow: scroll; width: 100%; height: 400px;">
    <% @messages.each do |message| %>
    <% #message.inspect %>
      <span class="label label-success"><%= message.name %> (
      <% if(message.age.present?) %>
        <%= message.age %>
      <% else %>
        xxx
      <% end %>
      ) </span>
      <%= message.body %>
      <span style="font-size: 12px;">
      &lt;<%= link_to "EDIT" , edit_message_path(message) %>&nbsp;
      <%= link_to "DELETE" , message , method: :delete, data: { confirm: '削除してもよろしいですか？' } %>&gt;
      </span>
      <br>
    <% end %>
  </div>
  
</div>

<% #部分テンプレートを読み込んでいる %>
<%= render 'form' %>